@import "./variables";

// Play button
[data-playing] {
  //   align-self: stretch;
  margin: 0vw 0vw 1vw 4vw;
  height: 7.2vw;
  width: 10vw;
  outline: none;
  border: 1px solid black;
  border-radius: 0.2vw;
  cursor: pointer;
  box-shadow: inset -0.5vw -0.5vw rgb(24, 123, 180),
    inset 0.5vw 0.5vw rgb(120, 202, 250);
  @media (min-width: $breakpoint--2) {
    margin: 0vw 3vw 0vw 0vw;
    height: 6.6vw;
    width: 9vw;
    box-shadow: inset -0.2vw -0.2vw rgb(24, 123, 180),
      inset 0.2vw 0.2vw rgb(120, 202, 250);
  }
}

[data-playing="false"] {
  background: rgb(33, 166, 243) url("../images/Play_btn.svg") no-repeat center
    center;
  background-size: 5vw 5vw;
  cursor: pointer;
  @media (min-width: $breakpoint--2) {
    background-size: 3.8vw 3.8vw;
  }
}

[data-playing="true"] {
  background: rgb(247, 55, 21) url("../images/Stop_btn.svg") no-repeat center
    center;
  background-size: 5vw 5vw;
  box-shadow: inset 0.3vw 0.3vw rgb(209, 42, 13),
    inset -0.3vw -0.3vw rgb(250, 110, 85);
  @media (min-width: $breakpoint--2) {
    background-size: 3.8vw 3.8vw;
  }
}

// Main control panel
.main-ctrls {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 9vw;
  padding-top: 1vw;
  background: var(--mainColor);
  @media (min-width: $breakpoint--2) {
    border-radius: 1vw 1vw 0vw 0vw;
    margin: 5vw 7vw 0vw 9vw;
    padding-top: 2vw;
    width: 82vw;
  }

  &__logo {
    display: flex;
    justify-self: flex-start;
    align-self: center;
    margin: 1vw 0vw 2vw 3.7vw;
    @media (min-width: $breakpoint--2) {
      margin: 0vw 4vw 0vw 2.5vw;
    }
    &-img-mobile {
      width: 17vw;
      @media (min-width: $breakpoint--2) {
        display: none;
      }
    }
    &-img-desktop {
      display: none;
      @media (min-width: $breakpoint--2) {
        display: unset;
        width: 12vw;
      }
    }
  }

  &__bpm-value {
    width: 17vw;
    height: 6.9vw;
    background: white;
    border: 1px solid var(--lightGrey);
    margin-top: 0;
    margin-left: 2vw;
    margin-bottom: 1vw;
    border-radius: 1vw;
    font-family: "Play", sans-serif;
    font-size: 5.5vw;
    text-align: center;
    color: var(--btnBlue);
    @media (min-width: $breakpoint--2) {
      width: 16vw;
      height: 5.5vw;
      margin: 0vw 2vw 0vw 0vw;
      border-radius: 0.3vw;
      font-size: 4vw;
      padding-top: 0.7vw;
    }
  }
  &__bpm-label {
    display: flex;
    flex-direction: column;
    font-family: "Play", sans-serif;
    font-size: 3vw;
    text-align: center;
    color: var(--btnBlue);
    @media (min-width: $breakpoint--2) {
      font-size: 2vw;
      margin-top: 1vw;
    }

    &-slider {
      margin: 1vw 0vw 1vw 2vw;
      -webkit-appearance: none;
      outline: none;
      background: none;
      background: linear-gradient(
        to right,
        var(--btnBlue) 0%,
        var(--btnBlue) 50%,
        var(--lightGrey) 50%,
        var(--lightGrey) 100%
      );
      border-radius: 8px;
      height: 0.7vw;
      width: 20vw;
      outline: none;
      // transition: background 450ms ease-in;
      @media (min-width: $breakpoint--2) {
        margin: 0vw 0vw 1vw 0vw;
        border-radius: 1vw;
        height: 0.5vw;
        width: 14vw;
      }
    }

    // BPM slider Chrome/Opera
    &-slider::-webkit-slider-runnable-track {
      height: 3vw;
      cursor: pointer;
      @media (min-width: $breakpoint--2) {
        height: 2vw;
      }
    }

    &-slider::-webkit-slider-thumb {
      border: 0.7vw solid var(--btnBlue);
      height: 3vw;
      width: 3vw;
      border-radius: 5vw;
      background: var(--mainColor);
      cursor: pointer;
      -webkit-appearance: none;
      @media (min-width: $breakpoint--2) {
        border: 0.5vw solid var(--btnBlue);
        height: 2vw;
        width: 2vw;
      }
    }

    // BPM slider Firefox
    &-slider::-moz-range-track {
      height: 0vw;
      cursor: pointer;
      @media (min-width: $breakpoint--2) {
        height: 0vw;
      }
    }
    &-slider:active::-moz-range-track {
      background: var(--btnBlue);
    }
    &-slider::-moz-range-thumb {
      border: 0.7vw solid var(--btnBlue);
      height: 2vw;
      width: 2vw;
      border-radius: 2vw;
      background: var(--mainColor);
      cursor: pointer;
      @media (min-width: $breakpoint--2) {
        border: 0.5vw solid var(--btnBlue);
        height: 1vw;
        width: 1vw;
      }
    }
    &-slider:active::-moz-range-thumb {
      border: 0.7vw solid var(--btnBlue);
      @media (min-width: $breakpoint--2) {
        border: 0.5vw solid var(--btnBlue);
      }
    }
  }

  // Device speaker/headphone switch
  &__sound-outpt-switch {
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    margin-left: 15.5vw;
    position: relative;
    display: inline-block;
    width: 6vw;
    height: 3vw;
    @media (min-width: $breakpoint--2) {
      margin: 0vw 0vw 0vw 9.2vw;
    }
    &__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--btnBlue);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    &__slider:before {
      position: absolute;
      content: "";
      height: 2vw;
      width: 2vw;
      left: 0.7vw;
      bottom: 0.5vw;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    &__slider.round {
      border-radius: 50vw;
    }

    &__slider.round:before {
      border-radius: 50vw;
    }
    &__spkr-text,
    &__hdphns-text {
      transform: rotate(-270deg);
      -moz-transform: rotate(-270deg);
      width: 21vw;
      font-family: "Nunito", sans-serif;
      font-size: 2vw;
      font-weight: bold;
      @media (min-width: $breakpoint--2) {
        font-size: 1.2vw;
        width: 13vw;
      }
    }
    &__spkr-text {
      margin: -6vw 0vw 0vw -6vw;
      color: var(--lightGrey);
      @media (min-width: $breakpoint--2) {
        margin: -3.5vw 0vw 0vw -2vw;
      }
    }

    &__hdphns-text {
      margin: -2.8vw 0vw 0vw -9vw;
      color: var(--btnBlue);
      @media (min-width: $breakpoint--2) {
        margin: -1.5vw 0vw 0vw -5vw;
      }
    }
  }

  // Hide default HTML checkbox
  &__sound-outpt-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__clear-button-label {
    display: none;
    @media (min-width: $breakpoint--2) {
      display: unset;
      width: 8vw;
      margin-right: 1vw;
      text-align: center;
      font-family: "Nunito", sans-serif;
      font-size: 1.2vw;
      font-weight: bold;
      color: var(--btnBlue);
    }
  }
  &__clear-button-label:hover {
    color: red;
  }
  &__clear-button {
    background: var(--btnBlue);
    margin-top: 0.5vw;
    width: 2vw;
    height: 2vw;
    border-radius: 2vw;
    box-shadow: inset -0.2vw -0.2vw rgb(24, 123, 180),
      inset 0.2vw 0.2vw rgb(120, 202, 250);
    outline: none;
  }
  &__clear-button:hover {
    background: red;
    box-shadow: inset -0.2vw -0.2vw rgb(146, 13, 13),
      inset 0.2vw 0.2vw rgb(250, 120, 120);
  }
  &__clear-button:active {
    box-shadow: inset -0.1vw -0.1vw rgb(250, 120, 120),
      inset 0.1vw 0.1vw rgb(146, 13, 13);
  }
}

input:checked + .main-ctrls__sound-outpt-switch__slider:before {
  -webkit-transform: translateX(2.7vw);
  -ms-transform: translateX(2.7vw);
  transform: translateX(2.7vw);
}
